@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-secondary: #21242C;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --text-secondary: #a1a1aa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-secondary: var(--text-secondary);
  --font-sans: Arial, Helvetica, sans-serif, system-ui;
}

